body{
  background: -webkit-linear-gradient(left, #d651c6, #efce28);
}

label {
  font-weight: bold;
  padding-left: 6px;
  display: block;
  cursor: pointer;
  padding-right: 6px;
  padding-bottom: 1px;
  font-size: 10pt
}
.contact-form{
  background: #fff;
  margin-top: 2.7%;
  width: 90%;
}
.contact-form .form-control-key{
  text-align: center;
  width: 30%;
  margin-left: 15px;
  font-size: 10pt
}
.contact-form .form-control{
  text-align: center;
  border-radius:1rem;
  width: 30%;
  font-size: 9.5pt;
}
.contact-image{
  text-align: center;
}
.contact-image img{
  border-radius: 6rem;
  width: 8%;
  margin-top: -3%;
}
.contact-form form{
  padding: 2%;
}

.contact-form h3{
  margin-bottom: 2%;
  margin-top: -2%;
  text-align: center;
  color: #0062cc;
}

.contact-form .btn-Producir
{
  width: 15%;
  margin-left: 15px;
  border: none;
  border-radius: 1rem;
  padding: 0.5%;
  background: #87377d;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

.contact-form .btn-Consumir
{
  width: 15%;
  margin-left: 15px;
  border: none;
  border-radius: 1rem;
  padding: 0.5%;
  background: #87377d;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}
